<mat-toolbar class="secondary-color" [class.mat-elevation-z2]=true>
  <mat-chip-list>
    <mat-chip color="primary"  class="chips-font" selected="true">Condominio: {{condoName}}</mat-chip>
    <mat-chip color="accent"  class="chips-font" selected="true">Saldo: ${{condoBalance}}</mat-chip>
  </mat-chip-list>
</mat-toolbar>
<div class="toogle-btns">
  <button mat-raised-button class="btn" routerLink="/new-edit-propietaries" color="accent">Nuevo</button>
  <span [matTooltip]=errorToShow [matTooltipClass]="'tooltip-size'" (mouseenter)="getPopMessage2($event)">
      <button mat-raised-button (click)="edit()" id="edit" [disabled]="!propietarySelect" class="btn" color="primary">Editar</button>
  </span>
</div>


<div *ngIf="hasData; then table else msg"></div>
<ng-template #table>
  <app-general-table [loadingIndicator]="loadingIndicator" [rows]="rows" [columns]="columns" (select)="select($event)"></app-general-table>
</ng-template>
<ng-template #msg>
  <div class="flex-container">
    <div class="row">
      <div class="flex-item">
          <mat-spinner *ngIf="loadingIndicator"  ></mat-spinner>
        <mat-card *ngIf="!loadingIndicator" >
          <mat-card-title>
            Registre un nuevo propietario
          </mat-card-title>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
