 <div *ngIf="(isDevice$ | async) ; then list else table" ></div>
 <ng-template #table>
    <ngx-datatable
  *ngIf="rows"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="70"
  [footerHeight]="50"
  [scrollbarH]="true"
  (inputChange)="change($event)"
  [loadingIndicator]="loadingIndicator"
  [columns]="columns"
  class="material data-table colum-size sort-hide data-header table input-responsive"
  [rowHeight]="50"
  [scrollbarV]="true"
  [selected]="selected"
  [displayCheck]="displayCheck"
   [selectionType]="selectionType"
   (select)='onSelect($event)'>
<span *ngIf="checkColum">
    <ngx-datatable-column
    [width]="40"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
    [checkboxable]="true">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
        <mat-checkbox type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
      </ng-template>
  </ngx-datatable-column>
    <ngx-datatable-column
    *ngFor="let colum of columns"
          name="{{colum.name}}"
          prop="{{colum.prop}}"
          >
        </ngx-datatable-column>
</span>

  </ngx-datatable>
 </ng-template>
<ng-template #list>
  <mat-card>
      <mat-form-field style="width: 100%" appearance="outline">
          <input matInput  (keyup)="changeMovil($event)" placeholder="Filtrar">
        </mat-form-field>
    <mat-selection-list #option (selectionChange)="handleSelection($event)">
      <mat-list-option [selected]=row.isSelect (click)="onClickList(row)" *ngFor="let row of rows">
        <h3 matLine><b> {{columns[itemsToShow[0]].name}}: </b>{{row[columns[itemsToShow[0]].prop]}}</h3>
        <p *ngIf="columns.length > 2"  matLine> <b> {{columns[itemsToShow[1]].name}}: </b>{{row[columns[itemsToShow[1]].prop]}}</p>
        <p *ngIf="columns.length > 3" matLine> <b>{{columns[itemsToShow[2]].name}}:  </b>{{row[columns[itemsToShow[2]].prop]}}</p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </mat-card>
</ng-template>




<!-- [columnMode]="'force'" [headerHeight]="70" [rows]="rows" [columns]="columns" class="material data-table colum-size sort-hide data-header table input-responsive"
  [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" (inputChange)="change($event)" [loadingIndicator]="loadingIndicator"
  [limit]="15"  width = "{{colum.width}}" -->

<!-- [columnMode]="'force'" [headerHeight]="70" [rows]="rows" [columns]="columns" class="material data-table colum-size sort-hide data-header table input-responsive"
  [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" (inputChange)="change($event)" [loadingIndicator]="loadingIndicator"
  [limit]="15" -->
