.flex-container {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%
}

.flex-container > * {
  width: 100%;
}
.margin-form {
  margin: 2% 20%
}
.flex-container2 {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  border: 2px solid darkgray;
  border-radius: 8px;

}
