/* You can add global styles to this file, and also import other style files */
@import '~cesar-table-artezan/release/index.css';
@import '~cesar-table-artezan/release/themes/material.css';
@import '~cesar-table-artezan/release/themes/material.css';
@import '~cesar-table-artezan/release/assets/icons.css';



html,
body {
  height: 100%;
}

body {
  margin: 0;
}
.tooltip-size {
  font-size: 1em;
}